<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Property_Mgmt_MVC</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/cufon-yui.js"></script>
    <script type="text/javascript" src="js/Myriad_Pro_italic_400-Myriad_Pro_italic_600.font.js"></script>
    <script type="text/javascript" src="js/cufon-replace.js"></script>
    <script type="text/javascript" src="js/jquery.faded.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    
    
    <!--[if lt IE 7]>
    <script type="text/javascript" src="js/ie_png.js"></script>
    <script type="text/javascript">ie_png.fix('.png, .logo, .extra-banner');</script>
    <![endif]-->
    <!--[if lt IE 9]><script type="text/javascript" src="js/html5.js"></script><![endif]-->
   
    
    
    <!--
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

        -->
</head>
<body>

    <!-- START PAGE SOURCE -->
    <header>
        <div class="container_16">
            <div class="logo">
                <h1><a href="#"><strong>Real</strong> Estate</a></h1>
            </div>
            <nav>
                <ul>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Customer_Detail" asp-action="Index">Customers</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Dealer_Detail" asp-action="Index">Dealers</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Property_Detail" asp-action="Index">Property</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Property_oction" asp-action="Index">Auction</a></li>
                    
                </ul>
            </nav>
            <div id="faded">
                <div class="rap"> <a href="#"><img src="images/big-img1.jpg" alt="" width="571" height="398"></a> <a href="#"><img src="images/big-img2.jpg" alt="" width="571" height="398"></a> <a href="#"><img src="images/big-img3.jpg" alt="" width="571" height="398"></a> </div>
                <ul class="pagination">
                    <li>
                        <a href="#" rel="0">
                            <img src="images/f_thumb1.png" alt=""> <span class="left">
                                Villa<br />
                                2007 year<br />
                                5000 sq.ft
                            </span> <span class="right">
                                Brick, glass<br />
                                3 beds<br />
                                2 baths
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" rel="1">
                            <img src="images/f_thumb2.png" alt=""> <span class="left">
                                Villa<br />
                                2009 year<br />
                                3500 sq.ft
                            </span> <span class="right">
                                Brick, glass<br />
                                5 beds<br />
                                3 baths
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" rel="2">
                            <img src="images/f_thumb3.png" alt=""> <span class="left">
                                Villa<br />
                                2010 year<br />
                                4200 sq.ft
                            </span> <span class="right">
                                Brick, glass<br />
                                4 beds<br />
                                3 baths
                            </span>
                        </a>
                    </li>
                </ul>
                <img src="images/extra-banner.png" alt="" class="extra-banner">
            </div>
        </div>
    </header>

    <!--

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Property_Mgmt_MVC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customer_Detail" asp-action="Index">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dealer_Detail" asp-action="Index">Dealers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Property_Detail" asp-action="Index">Property</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Property_oction" asp-action="Index">Auction</a>
                        </li>


                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
        -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Property_Mgmt_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
