@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your dream property</h1>
    <!--code for image in home page-->
    <img src="~/img/img1.jpg" />
    <p>property management involves hiring a third party to oversee the day-to-day operations of real estate.Land owners hires property management firms for different reasons. A few proprietors may have different investment properties in their portfolios and come up short on the time or skill to keep up the properties and manage occupants. A few proprietors just have a premium in possessing investment properties and procuring benefits from them. At the point when this is the situation, they enlist proficient property supervisors.so, they also need real estate website for business and this website holds all the information about property, owner, and customers.</p>
</div>
