@model Property_Mgmt_MVC.Models.Property_oction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Property Auction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <!--code for auction for property-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Property_DetailId" class="control-label">Property Area</label>
                <select asp-for="Property_DetailId" class="form-control" asp-items="ViewBag.Property_DetailId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Dealer_DetailId" class="control-label">Dealer Name</label>
                <select asp-for="Dealer_DetailId" class="form-control" asp-items="ViewBag.Dealer_DetailId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Customer_DetailId" class="control-label">Customer Name</label>
                <select asp-for="Customer_DetailId" class="form-control" asp-items="ViewBag.Customer_DetailId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <label asp-for="Bid_Price" class="control-label"> Bid Price</label>
                <input asp-for="Bid_Price" class="form-control" />
                <span asp-validation-for="Bid_Price" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
